{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<div>
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to Ani's Little Blog! Here I´ll be talking about everything that I am interested in - the arts, politics, sports and outdoor stuff.</p>
            <p> Go visit me at my website <a href="https://www.wordpress.com">Ani's World</a> to find out more about me and other interesting topics than what you can find here.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Blog Posts &raquo;</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}